body
{
    margin: 1vmin;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 3vh; /*1vh = 1% of viewport height*/
    text-align: center;
}

.page
{
    background-color: #1c1512;
    padding: 1vh;
    min-height: 80vh;
}

.header
{
    background-color: #45060a;
    padding: 1vh;
    color: #ffffff;
}

.footer
{
    background-color: #45060a;
    padding: 1vh;
    color: #ffffff;
}

.element
{
    margin: 1vh;
    padding: 1vh;
    background-color: rgba(216, 214, 203, 0.8);
}

.button
{
    border: 0;
    margin: 1vh;
    padding: 1vh;
    color: #ffffff;
    background-color: #355e3f;
    font-size: 3vh;
}

.edit
{
    /*to nie działa*/
    text-align: right;
}

.delete
{
    /*to nie działa*/
    text-align: right;
}

.h1
{
    font-size: 5vh
}

.form-widget {
    display: block;
    margin-bottom: 2vh;
    text-align: left;
}
    .form-widget:last-child {
        margin-bottom: 0;
    }

    .form-widget label {
        font-size: 2vh;
        display: block;
        margin-bottom: 0.5vh;
    }

    .form-widget input {
        border: 0;
        margin: 0;
        padding: 1vh;
        font-size: 2vh;
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
        .form-widget input[type="file"] {
            padding: 0;
        }

    .form-widget textarea {
        margin: 0;
        padding: 1vh;
        font-size: 2vh;
        width: 100%;
        max-width: 100%;
        min-height: 200px;
        box-sizing: border-box;
    }

.form--add-offer {
    max-width: 500px;
    margin: 0 auto;
}

.offer {}
    .offer p {
        margin: 2vh auto;
        text-align: left;
        width: 600px;
        font-size: 2vh;
    }

    .offer span {
        display: block
    }

    .offer__photo {
        background-size: cover;
        background-position: center center;
        background-color: #86847f;
        display: block;
        max-width: 300px;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .offer input[type="text"] {
        border: 0;
        margin: 0;
        padding: 1.5vh;
        font-size: 2vh;
        max-width: 200px;
        box-sizing: border-box;
        vertical-align: middle;
    }
