<html layout:decorator="layout">

   <div layout:fragment="content">
       <h2>Edit offer</h2>
       <form class="form form--half" th:action="${'/offer/'+product.id+'/delete/'}" method="post">
           <input type="submit" class="btn btn--second" name="submit" value="Delete"/>
       </form>
       <br/><br/>
       <form class="form form--half" th:action="${'/offer/'+product.id+'/edit/'}" method="post" enctype="multipart/form-data">
           <div class="form__group">
               <label>Name:</label>
               <input type="text" name="name" th:value="${product.name}"/>
               <span class="form__error"></span>
           </div>
           <div class="form__group">
               <label>Photo:</label>
               <div class="product-details__img"><img th:src="${'/uploads/' + product.photo}"/></div>
               <span class="form__error"></span>
           </div>
           <div class="form__group">
               <label>Min. price:</label>
               <input type="text" name="price" th:value="${product.price}"/>
               <span class="form__error"></span>
           </div>
           <div class="form__group">
               <label>Description:</label>
               <textarea name="desc" th:text="${product.desc}"></textarea>
               <span class="form__error"></span>
           </div>
           <input type="submit" class="btn" name="submit" value="Save"/>
       </form>
       
       <script type="text/javascript">
	    document.querySelector('input[type="file"]').addEventListener('change', function(){
	        var file = this.files[0];
	        var preview = document.getElementById('preview');
	        var reader  = new FileReader();
	        reader.addEventListener("load", function () {
	            preview.src = reader.result;
	        }, false);
	
	        if (file) reader.readAsDataURL(file);
	    })
	</script>
   </div>
   
</html>
