<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Portal aukcyjny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="header">
        <div class="content">
            <button class="btn-toggle"><i></i><i></i><i></i></button>
                <a href="/"><h1>Portal aukcyjny</h1></a>
            <div th:if="${session.permissions>=0}">
                <a href="/logout">Log out</a>
            </div>
            <div th:unless="${session.permissions>=0}">
                <a href="/login">Log in</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="main__content">
                <h2>
                Edit
                </h2>
                <form class="product-details__delete" th:action="${'/offer/'+product.id+'/delete/'}" method="post">
                    <input type="submit" class="btn" name="submit" value="Delete"/>
                </form>
                <form class="form form--half" th:action="${'/offer/'+product.id+'/edit/'}" method="post" enctype="multipart/form-data">
                    <div class="form__group">
                        <label>Name:</label>
                        <input type="text" name="name" th:value="${product.name}"/>
                        <span class="form__error"></span>
                    </div>
                    <div class="form__group">
                        <label>Photo:</label>
                        <div class="product-details__img"><img th:src="${'/uploads/' + product.photo}"/></div>
                        <span class="form__error"></span>
                    </div>
                    <div class="form__group">
                        <label>Min. price:</label>
                        <input type="text" name="price"/>
                        <span class="form__error"></span>
                    </div>
                    <div class="form__group">
                        <label>Description:</label>
                        <textarea name="desc" th:text="${product.desc}"></textarea>
                        <span class="form__error"></span>
                    </div>
                    <input type="submit" class="btn" name="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            Portal aukcyjny 2016
        </div>
    </div>
    
	<script type="text/javascript">
	    document.querySelector('input[type="file"]').addEventListener('change', function(){
	        var file = this.files[0];
	        var preview = document.getElementById('preview');
	        var reader  = new FileReader();
	        reader.addEventListener("load", function () {
	            preview.src = reader.result;
	        }, false);
	
	        if (file) reader.readAsDataURL(file);
	    })
	</script>
</body>
</html>
