<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Portal aukcyjny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
    <div class="header">
        <div class="content">
            <button class="btn-toggle"><i></i><i></i><i></i></button>
                <a href="/"><h1>Portal aukcyjny</h1></a>
            <div th:if="${session.permissions>=0}">
                <a href="/logout">Log out</a>
            </div>
            <div th:unless="${session.permissions>=0}">
                <a href="/login">Log in</a>
            </div>
        </div>
    </div>
    <div class="main">
    	<div class="main__bg"></div>
        <div class="content">
        	<div class="main__sidebar" th:with="currentUrl=(${#httpServletRequest.requestURI})">
                <ul>
                	<li><a href="/" th:classappend="${currentUrl == '/'} ? is-active">Offers</a></li>
                    <li th:if="${session.permissions>=0}"><a href="/add" th:classappend="${currentUrl == '/add'} ? is-active">Add offer</a></li>
                </ul>
               	<h3 th:if="${session.permissions==1}">Admin</h3>
                <ul th:if="${session.permissions==1}">
                    <li><a href="/admin_offers" th:classappend="${currentUrl == '/admin_offers'} ? is-active">Manage offers</a></li>
                  	<li><a href="/admin_users" th:classappend="${currentUrl == '/admin_users'} ? is-active">Manage users</a></li>
                </ul>
            </div>
            <div class="main__content" layout:fragment="content">
            
            </div>
        </div>
   	</div>
	<div class="footer">
        <div class="content">
            Portal aukcyjny 2016
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>