<html layout:decorator="layout">

   <div layout:fragment="content">
       <h2>Twoje oferty</h2>
       <div class="list-products">
           <div class="list-products__item" data-th-each="product : ${products}">
               <div class="list-products__item-img"><img th:src="${'uploads/' + product.photo}"/></div>
               <div class="list-products__item-content">
                   <span th:text="${product.endDate}" class="list-products__date"></span>
                   <h3 th:text="${product.name}"></h3>
                   <div class="list-products__item-bottom">
                       <span th:text="${product.price + '$'}" th:data-price="${product.price}"></span>
                       <div>
                           <a th:href="${'/offer/'+product.id+'/edit'}" class="btn">Edytuj</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   
</html>
