<html layout:decorator="layout">
<head>
    <meta charset="utf-8"/>
</head>
<body>

   <div layout:fragment="content">
		<div class="product-details">
	         <div class="product-details__img"><img th:src="${'/uploads/' + product.photo}"/></div>
	         <div class="product-details__content">
	             <h2 th:text="${product.name}"></h2>
	             <span id="date" class="product-details__date">Aukcja zakończy się: <strong th:text="${product.endDate}"></strong></span>
	             <form class="product-details__bid" th:action="${'/offer/'+product.id+'/bid'}" method="post">
	                 <span th:text="${product.price + '$'}"></span>
	                 <input type="number" name="price" required="required" th:value="${product.price}" th:if="${session.permissions>0}"/><i th:if="${session.permissions>0}">$</i> 
	                 <button class="btn" th:if="${session.permissions>0}">Licytuj</button>
	             </form>
	             <p class="product-details__desc" th:text="${product.desc}"></p>
                 <br/><br/>
                 	<div th:text="${session.login}" style="display: none;" id="user"></div>
                 <h2>Licytujący:</h2>
                 <ul id="list">
	                 <div class="list-products__item" data-th-each="bidder : ${product.biddersList}">
	                 	<li th:text="${bidder.login + ' :' + bidder.price}"> </li>
	                 </div>
                 </ul>
	         </div>
     	</div>
     	
     	<script src="/js/offer.js"></script>
   </div>

</body>
</html>