<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Portal aukcyjny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext" rel="stylesheet"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <div class="header">
        <div class="content">
            <button class="btn-toggle"><i></i><i></i><i></i></button>
                <a href="/"><h1>Portal aukcyjny</h1></a>
            <div th:if="${session.permissions>=0}">
                <a href="/logout">Wyloguj</a>
            </div>
            <div th:unless="${session.permissions>=0}">
                <a href="/login">Zaloguj</a>
            </div>
        </div>
    </div>
    <div class="main main--form">
        <div class="content">
            <div class="main__content">
                <h2>Zarejestruj się</h2>
                <form class="form" method="post">
                    <div class="form__group">
                        <label>Adres e-mail:</label>
                        <input type="email" name="email"/>
                        <span class="form__error"></span>
                    </div>
                    <div class="form__group">
                        <label>Nazwa użytkownika:</label>
                        <input type="text" name="username"/>
                        <span class="form__error"></span>
                    </div>
                    <div class="form__group">
                        <label>Hasło:</label>
                        <input type="password" name="password"/>
                        <span class="form__error"></span>
                    </div>
                    <input type="submit" class="btn" name="submit" value="Zarejestruj się"/>
                    <a href="login.html" class="form__bottom-link">Zaloguj się</a>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            Portal aukcyjny 2016
        </div>
    </div>
</body>
</html>
